/*==========================reset==========================*/
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}
body.no-scroll {
    overflow: hidden;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button, input {
    background: none;
    border: none;
    color: inherit;
}
button:enabled {
    cursor: pointer;
}
img {
    vertical-align: top;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
h1,
h2,
h3 {
    font: inherit;
}
ol, ul {
    list-style: none;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}